html {
  margin:0;
  width:100%;
  height:100%;
}
body {
  margin:0;
  width:100%;
  height:100%;
}
#imuDisplay, #gpsDisplay {
  position:fixed;
  overflow:scroll;
  left:0;
  width:100%;height:50%;
  background:#000000;
  color:#303030;
  font-family: monospace;
}

#imuDisplay { top: 0%; }
#gpsDisplay { top: 50%; }

